#CLK##################################################################
#system_clk 300M
#system_clk 300M
######################################################################
#RST,LED##############################################################
NET "RST_SW" LOC = T26;
#帴λ
NET "pps_in" LOC = AK28;
#E11
NET "led0" LOC = G11;
#OK
NET "led1" LOC = F14;
#NET "GC_CLK" LOC = A10;	#20M		#D11
######################################################################
#ADC,ARM###########################################################OK
#ADC
NET "ADC_RSTN" LOC = AP12;
NET "ADC_SCLK" LOC = AP11;
NET "ADC_CSN" LOC = AN14;
NET "ADC_MOSI" LOC = AP14;
NET "ADC_MISO" LOC = AJ12;
NET "ADF_LD" LOC = AF13;
#NET "ADF_MUX_IN" LOC = AH14;
NET "ADF_CLK" LOC = AH13;
NET "ADF_DATA" LOC = AF14;
NET "ADF_LE" LOC = AE14;
#ARM
#NET "ADC_RSTN_IN" LOC = AP17;
#NET "ADC_SCLK_IN" LOC = AN17;
#NET "ADC_CSN_IN" LOC = AG18;
#NET "ADC_MOSI_IN" LOC = AH18;
#NET "ADC_MISO_OUT" LOC = AG17;
#NET "ADC_SYNC_IN" LOC=R26;//0805
//AG16
#NET "ADF_LD_OUT" LOC = AA28;
#NET "ADF_MUX_OUT" LOC = AF18;
#NET "ADF_CLK_IN" LOC = AE18;
#NET "ADF_DATA_IN" LOC = AD15;
#NET "ADF_LE_IN" LOC = AC15;
######################################################################
#ADCλʱӣź##########################################################
#ADCͬλ
NET "ADC_SYNC_P" LOC = AM23;
#ADCͬλ
NET "ADC_SYNC_N" LOC = AL23;
NET "ADC_SYNC_P" IOSTANDARD = LVDS_25;
NET "ADC_SYNC_N" IOSTANDARD = LVDS_25;



NET "AD_A_CLK_P" LOC = K26;
NET "AD_A_CLK_N" LOC = K27;

#
NET "AD_B_CLK_P" LOC = H19;
NET "AD_B_CLK_N" LOC = H20;

#
NET "AD_C_CLK_P" LOC = AF20;
NET "AD_C_CLK_N" LOC = AF21;


#AE28;
NET "AD_D_CLK_P" LOC = AG27;
#AE29;
NET "AD_D_CLK_N" LOC = AG28;



#NET "AD_AL_OR_P"  LOC = K33;
#NET "AD_AL_OR_N"  LOC = J34;
#NET "AD_AH_OR_P"  LOC = J30;
#NET "AD_AH_OR_N"  LOC = K29;
#NET "AD_BL_OR_P"  LOC = A18;
#NET "AD_BL_OR_N"  LOC = A19;
#NET "AD_BH_OR_P"  LOC = H22;
#NET "AD_BH_OR_N"  LOC = J22;
NET "AD_CL_D_P[0]" LOC = AF19;
NET "AD_CL_D_N[0]" LOC = AE19;
NET "AD_CL_D_P[1]" LOC = AK19;
NET "AD_CL_D_N[1]" LOC = AL19;
NET "AD_CL_D_P[2]" LOC = AP22;
NET "AD_CL_D_N[2]" LOC = AN23;
NET "AD_CL_D_P[3]" LOC = AP19;
NET "AD_CL_D_N[3]" LOC = AN18;
NET "AD_CL_D_P[4]" LOC = AK22;
NET "AD_CL_D_N[4]" LOC = AJ22;
NET "AD_CL_D_P[5]" LOC = AG22;
NET "AD_CL_D_N[5]" LOC = AH22;
NET "AD_CL_D_P[6]" LOC = AE21;
NET "AD_CL_D_N[6]" LOC = AD21;
NET "AD_CL_D_P[7]" LOC = AC19;
NET "AD_CL_D_N[7]" LOC = AD19;
##NET "AD_CL_OR_P"  LOC = AC20;
##NET "AD_CL_OR_N"  LOC = AD20;
NET "AD_CH_D_P[0]" LOC = AP20;
NET "AD_CH_D_N[0]" LOC = AP21;
NET "AD_CH_D_P[1]" LOC = AM22;
NET "AD_CH_D_N[1]" LOC = AN22;
NET "AD_CH_D_P[2]" LOC = AM21;
NET "AD_CH_D_N[2]" LOC = AL21;
NET "AD_CH_D_P[3]" LOC = AN19;
NET "AD_CH_D_N[3]" LOC = AN20;
NET "AD_CH_D_P[4]" LOC = AM20;
NET "AD_CH_D_N[4]" LOC = AL20;
NET "AD_CH_D_P[5]" LOC = AM18;
NET "AD_CH_D_N[5]" LOC = AL18;
NET "AD_CH_D_P[6]" LOC = AK21;
NET "AD_CH_D_N[6]" LOC = AJ21;
NET "AD_CH_D_P[7]" LOC = AJ20;
NET "AD_CH_D_N[7]" LOC = AH20;
##NET "AD_CH_OR_P"  LOC = AG20;
##NET "AD_CH_OR_N"  LOC = AG21;
NET "AD_DL_D_P[0]" LOC = AN33;
NET "AD_DL_D_N[0]" LOC = AN34;
NET "AD_DL_D_P[1]" LOC = AD25;
NET "AD_DL_D_N[1]" LOC = AD26;
NET "AD_DL_D_P[2]" LOC = AE27;
NET "AD_DL_D_N[2]" LOC = AD27;
NET "AD_DL_D_P[3]" LOC = AF28;
NET "AD_DL_D_N[3]" LOC = AF29;
NET "AD_DL_D_P[4]" LOC = AJ31;
NET "AD_DL_D_N[4]" LOC = AJ32;
NET "AD_DL_D_P[5]" LOC = AH33;
NET "AD_DL_D_N[5]" LOC = AH32;
#AC22;
NET "AD_DL_D_P[6]" LOC = AP32;
#AP32;
NET "AD_DL_D_N[6]" LOC = AP33;
NET "AD_DL_D_P[7]" LOC = AL34;
NET "AD_DL_D_N[7]" LOC = AK34;
##NET "AD_DL_OR_P"  LOC = AJ34;
##NET "AD_DL_OR_N"  LOC = AH34;
NET "AD_DH_D_P[0]" LOC = AF30;
NET "AD_DH_D_N[0]" LOC = AG30;
NET "AD_DH_D_P[1]" LOC = AJ29;
NET "AD_DH_D_N[1]" LOC = AJ30;
NET "AD_DH_D_P[2]" LOC = AL31;
NET "AD_DH_D_N[2]" LOC = AK31;
NET "AD_DH_D_P[3]" LOC = AL30;
NET "AD_DH_D_N[3]" LOC = AM31;
##AN32;
NET "AD_DH_D_P[4]" LOC = AH29;
##AM32;
NET "AD_DH_D_N[4]" LOC = AH30;
##AM33;
NET "AD_DH_D_P[5]" LOC = AN32;
##AL33;
NET "AD_DH_D_N[5]" LOC = AM32;
##AK33;
NET "AD_DH_D_P[6]" LOC = AM33;
##AK32;
NET "AD_DH_D_N[6]" LOC = AL33;
##AH29;
NET "AD_DH_D_P[7]" LOC = AK33;
##AH30;
NET "AD_DH_D_N[7]" LOC = AK32;
##NET "AD_DH_OR_P"  LOC = AE28;
##NET "AD_DH_OR_N"  LOC = AE29;
######################################################################
#ARM###############################################################
//ARM
NET "BUS_CLK" LOC = H28;
NET "BUS_CSN" LOC = AF31;
#K34
NET "BUS_OEN" LOC = P29;
NET "BUS_WEN" LOC = AL24;
NET "BUS_IRQ" LOC = Y26;

NET "BUS_ADDR[0]" LOC = G28;
NET "BUS_ADDR[1]" LOC = F28;
NET "BUS_ADDR[2]" LOC = G27;
NET "BUS_ADDR[3]" LOC = G26;
NET "BUS_ADDR[4]" LOC = N29;
NET "BUS_ADDR[5]" LOC = E28;
NET "BUS_ADDR[6]" LOC = B27;
NET "BUS_ADDR[7]" LOC = AE34;
NET "BUS_ADDR[8]" LOC = AP24;
NET "BUS_ADDR[9]" LOC = L30;
NET "BUS_ADDR[10]" LOC = AP25;
NET "BUS_ADDR[11]" LOC = AN24;
NET "BUS_ADDR[12]" LOC = N30;
NET "BUS_ADDR[13]" LOC = AN25;
NET "BUS_ADDR[14]" LOC = AA26;
NET "BUS_ADDR[15]" LOC = AF34;
NET "BUS_ADDR[16]" LOC = AK23;
NET "BUS_ADDR[17]" LOC = AD31;
#N34
NET "BUS_ADDR[18]" LOC = K34;
#P29
NET "BUS_ADDR[19]" LOC = R31;

NET "BUS_DATA[0]" LOC = B26;
NET "BUS_DATA[1]" LOC = A25;
NET "BUS_DATA[2]" LOC = N28;
NET "BUS_DATA[3]" LOC = B28;
NET "BUS_DATA[4]" LOC = C27;
NET "BUS_DATA[5]" LOC = B25;
NET "BUS_DATA[6]" LOC = C28;
NET "BUS_DATA[7]" LOC = A26;
NET "BUS_DATA[8]" LOC = AH25;
#L34
NET "BUS_DATA[9]" LOC = R29;
NET "BUS_DATA[10]" LOC = AD30;
NET "BUS_DATA[11]" LOC = AC27;
#R32
NET "BUS_DATA[12]" LOC = P34;
NET "BUS_DATA[13]" LOC = AJ24;
NET "BUS_DATA[14]" LOC = AB26;
NET "BUS_DATA[15]" LOC = AK24;
######################################################################
##added on 2014.06.17
NET "BUS_ADDR[19]" CLOCK_DEDICATED_ROUTE = FALSE;

#INST "U2_L_A/IDELAYCTRL_A" LOC = IDELAYCTRL_X0Y4;
#INST "U2_L_A/IDELAYCTRL_B" LOC = IDELAYCTRL_X1Y4;
NET "AD_AH_D_N[0]" LOC = E31;
NET "AD_AH_D_N[1]" LOC = D32;
NET "AD_AH_D_N[2]" LOC = B32;
#F34
NET "AD_AH_D_N[3]" LOC = E33;
#H32
NET "AD_AH_D_N[4]" LOC = H32;
NET "AD_AH_D_N[5]" LOC = F34;
NET "AD_AH_D_N[6]" LOC = H33;
NET "AD_AH_D_N[7]" LOC = J32;
NET "AD_AH_D_P[0]" LOC = F31;
NET "AD_AH_D_P[1]" LOC = D31;
NET "AD_AH_D_P[2]" LOC = C32;
#E34
NET "AD_AH_D_P[3]" LOC = E32;
#G32
NET "AD_AH_D_P[4]" LOC = G32;
NET "AD_AH_D_P[5]" LOC = E34;
NET "AD_AH_D_P[6]" LOC = H34;
NET "AD_AH_D_P[7]" LOC = J31;
NET "AD_AL_D_N[0]" LOC = C34;
NET "AD_AL_D_N[1]" LOC = L26;
NET "AD_AL_D_N[2]" LOC = J27;
NET "AD_AL_D_N[3]" LOC = J29;
NET "AD_AL_D_N[4]" LOC = G30;
NET "AD_AL_D_N[5]" LOC = H30;
NET "AD_AL_D_N[6]" LOC = B33;
NET "AD_AL_D_N[7]" LOC = B34;
NET "AD_AL_D_P[0]" LOC = D34;
NET "AD_AL_D_P[1]" LOC = L25;
NET "AD_AL_D_P[2]" LOC = J26;
NET "AD_AL_D_P[3]" LOC = K28;
NET "AD_AL_D_P[4]" LOC = F30;
NET "AD_AL_D_P[5]" LOC = G31;
NET "AD_AL_D_P[6]" LOC = A33;
NET "AD_AL_D_P[7]" LOC = C33;
#active,0403
NET "AD_BH_D_N[0]" LOC = G20;
NET "AD_BH_D_N[1]" LOC = D20;
NET "AD_BH_D_N[2]" LOC = C18;
NET "AD_BH_D_N[3]" LOC = D19;
NET "AD_BH_D_N[4]" LOC = J21;
NET "AD_BH_D_N[5]" LOC = L21;
NET "AD_BH_D_N[6]" LOC = K22;
NET "AD_BH_D_N[7]" LOC = G22;
NET "AD_BH_D_P[0]" LOC = F21;
NET "AD_BH_D_P[1]" LOC = C20;
NET "AD_BH_D_P[2]" LOC = B18;
NET "AD_BH_D_P[3]" LOC = E19;
NET "AD_BH_D_P[4]" LOC = J20;
NET "AD_BH_D_P[5]" LOC = L20;
NET "AD_BH_D_P[6]" LOC = K21;
NET "AD_BH_D_P[7]" LOC = G21;
NET "AD_BL_D_N[0]" LOC = F20;
NET "AD_BL_D_N[1]" LOC = C19;
NET "AD_BL_D_N[2]" LOC = A24;
NET "AD_BL_D_N[3]" LOC = C23;
NET "AD_BL_D_N[4]" LOC = B22;
NET "AD_BL_D_N[5]" LOC = D22;
NET "AD_BL_D_N[6]" LOC = A21;
NET "AD_BL_D_N[7]" LOC = E21;
NET "AD_BL_D_P[0]" LOC = F19;
NET "AD_BL_D_P[1]" LOC = B20;
NET "AD_BL_D_P[2]" LOC = A23;
NET "AD_BL_D_P[3]" LOC = B23;
NET "AD_BL_D_P[4]" LOC = B21;
NET "AD_BL_D_P[5]" LOC = C22;
NET "AD_BL_D_P[6]" LOC = A20;
NET "AD_BL_D_P[7]" LOC = D21;
NET "clk_n" LOC = K12;
NET "clk_p" LOC = K13;
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2016/12/29
NET "AD_A_CLK_N" TNM_NET = "AD_A_CLK_N";
TIMESPEC TS_AD_A_CLK_N = PERIOD "AD_A_CLK_N" 3.333 ns LOW 50 %;
NET "AD_A_CLK_P" TNM_NET = "AD_A_CLK_P";
TIMESPEC TS_AD_A_CLK_P = PERIOD "AD_A_CLK_P" 3.333 ns HIGH 50 %;
NET "AD_B_CLK_N" TNM_NET = "AD_B_CLK_N";
TIMESPEC TS_AD_B_CLK_N = PERIOD "AD_B_CLK_N" 3.333 ns LOW 50 %;
NET "AD_B_CLK_P" TNM_NET = "AD_B_CLK_P";
TIMESPEC TS_AD_B_CLK_P = PERIOD "AD_B_CLK_P" 3.333 ns HIGH 50 %;
NET "AD_C_CLK_N" TNM_NET = "AD_C_CLK_N";
TIMESPEC TS_AD_C_CLK_N = PERIOD "AD_C_CLK_N" 3.333 ns LOW 50 %;
NET "AD_C_CLK_P" TNM_NET = "AD_C_CLK_P";
TIMESPEC TS_AD_C_CLK_P = PERIOD "AD_C_CLK_P" 3.333 ns HIGH 50 %;
NET "AD_D_CLK_N" TNM_NET = "AD_D_CLK_N";
TIMESPEC TS_AD_D_CLK_N = PERIOD "AD_D_CLK_N" 3.333 ns LOW 50 %;
NET "AD_D_CLK_P" TNM_NET = "AD_D_CLK_P";
TIMESPEC TS_AD_D_CLK_P = PERIOD "AD_D_CLK_P" 3.333 ns HIGH 50 %;
NET "BUS_CLK" TNM_NET = "BUS_CLK";
TIMESPEC TS_BUS_CLK = PERIOD "BUS_CLK" 15 ns HIGH 50 %;
NET "clk_n" TNM_NET = "clk_n";
TIMESPEC TS_clk_n = PERIOD "clk_n" 3.333 ns LOW 50 %;
NET "clk_p" TNM_NET = "clk_p";
TIMESPEC TS_clk_p = PERIOD "clk_p" 3.333 ns HIGH 50 %;

NET "U0_CLK_RESET_INTERFACE/CLK_OUT" TNM_NET = "SYS_CLK";
TIMESPEC TS_SYS_CLK = PERIOD "SYS_CLK" 3.333 ns HIGH 50 %;
TIMESPEC TS_CLK_BUS_CLK = FROM "BUS_CLK" TO "SYS_CLK" TIG ;
TIMESPEC TS_BUS_CLK_CLK = FROM "SYS_CLK" TO "BUS_CLK" 15ns ;

NET "U0_CLK_RESET_INTERFACE/CLK_30M" TNM_NET = "CLK_30M";
TIMESPEC TS_CLK_30M = PERIOD "CLK_30M" 33.333 ns HIGH 50 %;
TIMESPEC TS_CLK_CLK_30M = FROM "SYS_CLK" TO "CLK_30M" TIG ;
TIMESPEC TS_CLK_30M_CLK = FROM "CLK_30M" TO "SYS_CLK" TIG ;

NET "U0_CLK_RESET_INTERFACE/CLK_150M" TNM_NET = "CLK_150M";
TIMESPEC TS_CLK_150M = PERIOD "CLK_150M" 6.666 ns HIGH 50 %;
TIMESPEC TS_CLK_CLK_150M = FROM "SYS_CLK" TO "CLK_150M" 6.666ns ;

#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2016/12/29
#A·ʱԼ
NET "AD_AH_D_P[0]" OFFSET = IN 0.8498 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[0]" OFFSET = IN 0.8498 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[1]" OFFSET = IN 0.8656 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[1]" OFFSET = IN 0.8656 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[2]" OFFSET = IN 0.8854 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[2]" OFFSET = IN 0.8854 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[3]" OFFSET = IN 0.8645 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[3]" OFFSET = IN 0.8645 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[4]" OFFSET = IN 0.8382 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[4]" OFFSET = IN 0.8382 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[5]" OFFSET = IN 0.8599 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[5]" OFFSET = IN 0.8599 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[6]" OFFSET = IN 0.8308 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[6]" OFFSET = IN 0.8308 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AH_D_P[7]" OFFSET = IN 0.8133 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AH_D_P[7]" OFFSET = IN 0.8133 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;

NET "AD_AL_D_P[0]" OFFSET = IN 0.8609 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[0]" OFFSET = IN 0.8609 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[1]" OFFSET = IN 0.8766 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[1]" OFFSET = IN 0.8766 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[2]" OFFSET = IN 0.8899 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[2]" OFFSET = IN 0.8899 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[3]" OFFSET = IN 0.8917 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[3]" OFFSET = IN 0.8917 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[4]" OFFSET = IN 0.9047 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[4]" OFFSET = IN 0.9047 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[5]" OFFSET = IN 0.8919 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[5]" OFFSET = IN 0.8919 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[6]" OFFSET = IN 0.9137 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[6]" OFFSET = IN 0.9137 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
NET "AD_AL_D_P[7]" OFFSET = IN 0.8939 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" RISING;
NET "AD_AL_D_P[7]" OFFSET = IN 0.8939 ns VALID 1.6665 ns BEFORE "AD_A_CLK_P" FALLING;
#B·ʱԼ
NET "AD_BH_D_P[0]" OFFSET = IN 0.8508 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[0]" OFFSET = IN 0.8508 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[1]" OFFSET = IN 0.8899 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[1]" OFFSET = IN 0.8899 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[2]" OFFSET = IN 0.8897 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[2]" OFFSET = IN 0.8897 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[3]" OFFSET = IN 0.8750 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[3]" OFFSET = IN 0.8750 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[4]" OFFSET = IN 0.8246 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[4]" OFFSET = IN 0.8246 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[5]" OFFSET = IN 0.7967 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[5]" OFFSET = IN 0.7967 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[6]" OFFSET = IN 0.7647 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[6]" OFFSET = IN 0.7647 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BH_D_P[7]" OFFSET = IN 0.8187 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BH_D_P[7]" OFFSET = IN 0.8187 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;

NET "AD_BL_D_P[0]" OFFSET = IN 0.9030 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[0]" OFFSET = IN 0.9030 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[1]" OFFSET = IN 0.9384 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[1]" OFFSET = IN 0.9384 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[2]" OFFSET = IN 0.9525 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[2]" OFFSET = IN 0.9525 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[3]" OFFSET = IN 0.9270 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[3]" OFFSET = IN 0.9270 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[4]" OFFSET = IN 0.9414 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[4]" OFFSET = IN 0.9414 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[5]" OFFSET = IN 0.9155 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[5]" OFFSET = IN 0.9155 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[6]" OFFSET = IN 0.9228 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[6]" OFFSET = IN 0.9228 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
NET "AD_BL_D_P[7]" OFFSET = IN 0.8678 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" RISING;
NET "AD_BL_D_P[7]" OFFSET = IN 0.8678 ns VALID 1.6665 ns BEFORE "AD_B_CLK_P" FALLING;
#C·ʱ
NET "AD_CH_D_P[0]" OFFSET = IN 0.8949 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[0]" OFFSET = IN 0.8949 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[1]" OFFSET = IN 0.8815 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[1]" OFFSET = IN 0.8815 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[2]" OFFSET = IN 0.8812 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[2]" OFFSET = IN 0.8812 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[3]" OFFSET = IN 0.8874 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[3]" OFFSET = IN 0.8874 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[4]" OFFSET = IN 0.8656 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[4]" OFFSET = IN 0.8656 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[5]" OFFSET = IN 0.8258 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[5]" OFFSET = IN 0.8258 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[6]" OFFSET = IN 0.8267 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[6]" OFFSET = IN 0.8267 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CH_D_P[7]" OFFSET = IN 0.8186 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CH_D_P[7]" OFFSET = IN 0.8186 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;

NET "AD_CL_D_P[0]" OFFSET = IN 0.8775 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[0]" OFFSET = IN 0.8775 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[1]" OFFSET = IN 0.9068 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[1]" OFFSET = IN 0.9068 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[2]" OFFSET = IN 0.9429 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[2]" OFFSET = IN 0.9429 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[3]" OFFSET = IN 0.9448 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[3]" OFFSET = IN 0.9448 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[4]" OFFSET = IN 0.8833 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[4]" OFFSET = IN 0.8833 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[5]" OFFSET = IN 0.8590 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[5]" OFFSET = IN 0.8590 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[6]" OFFSET = IN 0.8153 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[6]" OFFSET = IN 0.8153 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
NET "AD_CL_D_P[7]" OFFSET = IN 0.8143 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" RISING;
NET "AD_CL_D_P[7]" OFFSET = IN 0.8143 ns VALID 1.6665 ns BEFORE "AD_C_CLK_P" FALLING;
#D·ʱԼ
NET "AD_DH_D_P[0]" OFFSET = IN 0.8140 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[0]" OFFSET = IN 0.8140 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[1]" OFFSET = IN 0.8551 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[1]" OFFSET = IN 0.8551 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[2]" OFFSET = IN 0.8590 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[2]" OFFSET = IN 0.8590 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[3]" OFFSET = IN 0.8717 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[3]" OFFSET = IN 0.8717 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[4]" OFFSET = IN 0.8387 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[4]" OFFSET = IN 0.8387 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[5]" OFFSET = IN 0.8883 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[5]" OFFSET = IN 0.8883 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[6]" OFFSET = IN 0.8799 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[6]" OFFSET = IN 0.8799 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DH_D_P[7]" OFFSET = IN 0.8730 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DH_D_P[7]" OFFSET = IN 0.8730 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;

NET "AD_DL_D_P[0]" OFFSET = IN 0.8769 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[0]" OFFSET = IN 0.8769 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[1]" OFFSET = IN 0.8634 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[1]" OFFSET = IN 0.8634 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[2]" OFFSET = IN 0.8772 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[2]" OFFSET = IN 0.8772 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[3]" OFFSET = IN 0.8862 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[3]" OFFSET = IN 0.8862 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[4]" OFFSET = IN 0.9035 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[4]" OFFSET = IN 0.9035 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[5]" OFFSET = IN 0.8983 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[5]" OFFSET = IN 0.8983 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[6]" OFFSET = IN 0.9072 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[6]" OFFSET = IN 0.9072 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
NET "AD_DL_D_P[7]" OFFSET = IN 0.8629 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" RISING;
NET "AD_DL_D_P[7]" OFFSET = IN 0.8629 ns VALID 1.6665 ns BEFORE "AD_D_CLK_P" FALLING;
